body {
    background: rgba(255, 165, 165, 0.938);
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 30px;
}

h1 {
    color: red;
    font-family: fantasy;
    font-size: 18px;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao{
    margin-top: 20px;
    width: 300px;
}

.logo{
    width: 30px;
}

